/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    color: #1d1d1f;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 40px;
    background: white;

    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: linear-gradient(135deg, #0d47a1, #1976d2);
    color: white;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    margin-top: 15px;
}

.cta {
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: #0d47a1;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}

/* SECTION */
section {
    padding: 80px 20px;
    text-align: center;
}

/* PRACTICE */
.practice-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #1976d2;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* TEAM */
.card {
    margin-top: 30px;
}

.card img {
    width: 200px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    padding: 20px;
    background: #0d47a1;
    color: white;
}